
<div class="container">
    
      <hr>
    
      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-lg-12 text-center">
                  <p>Rinaldi &copy; Projeto E-Commerce</p>
              </div>
          </div>
      </footer>
    
    </div>
    <!-- /.container -->